.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  background-color: transparent;
  border: 1px solid #FFF;
  box-sizing: border-box;

  transition: 0.8s ease-out 0.2s;
}

.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
