.btn_type_like {
  width: 22px;
  height: 19px;

  border: none;

  background-image: url(../../../images/like.svg);
  background-size: 22px 19px;
}

.btn_type_like:hover {
  opacity: 0.5;
  cursor: pointer;
}
